
.guest-container{
    width: 100%;
    height: 100%;
    margin-top: 100px;
    background-image: url('/img/jobs-img.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    flex-direction: column;
   justify-content: start;
   align-items: center;
    

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.9); /* blanco con opacidad del 70% */
        pointer-events: none; /* asegurarse de que la capa no bloquee la interacción con otros elementos */
    }
    
    .guest-content{
        position: absolute;
        margin: 60px 100px;
        max-width: 440px;
        font-weight: 600;
        font-size: 1.2rem;
        letter-spacing: .1rem;
        text-shadow: 2px 2px 30px rgba(0, 0, 0, 0.4);

    }
}
