<div class="guest-container">
  
        <div class="guest-content">
            <p>
                ¡Bienvenido a Jobbies! Podrás registrarse y asi guardar tu lista de las distintas aplicaciones de
                empleos que has realizado en las ultimas semanas.
            </p>
            <br>
            <p>
                De esa forma podrás llevar un control mejor de las ofertas que te han parecido interesantes y que has
                aplicado.
            </p>
            <br>
            <br>
            <a [routerLink]="['/register']">Registrarse</a>
        </div>
    
</div>